# Resend API Key
RESEND_API_KEY=******************
# Where the emails are sent to
CONTACT_EMAIL=******************
# From email address (must be verified in Resend) default is onboarding@resend.dev
RESEND_FROM_EMAIL=onboarding@resend.dev